body {
	text-align: center;
	background: #ddd;
	color: #112e51; /* CSUMB blue */
}

h1 {
	font-family: cursive;
	font-size: 4rem;
	margin: 1rem;
}

button {
	margin: .25rem;
}

img {
	margin: 2rem auto;
	display: block;
}

.used {
	background: #6B7A8F;
}

.letter {
	color: #ddd;
	border: 1px solid #;
	background: #dc3545;
	width: 2.5rem;
	height: 2.5rem;
	margin: .25rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}